// uikit stuff
@import "../../../vendor/uikit/themes/frontender/variables.less";

// helpers
.fe_prevent_select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fe_settings_screen {

	*:focus {
		outline: none;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.fe_tab_nav {
		min-height: 320px;
	}

	.fe_tab_content {
		padding-top: 5px;

		h3 {
			border-bottom: 1px solid @global-border;
			padding: 4px 0;
		}

		.fe_elements {
			min-height: 310px
		}

		.uk-tab > li > a {
			.fe_prevent_select
		}

		.fe_clonable {
			display: none;
		}

		.fe_new_element {
			color: @global-link-color;
			cursor: pointer;
		}

	}

	.fe_actions {
		margin-top: 20px;
	}

}

.uk-notify {
	top: 50px;
}

.uk-htmleditor-navbar-nav {
	> li {
		margin-bottom: 0;
	}
}

.uk-htmleditor:not(.uk-htmleditor-fullscreen) {
	.uk-htmleditor-navbar-nav > li > a {
		height: 25px;
		line-height: 25px;
	}
}

.uk-htmleditor-fullscreen {
	z-index: 99999;
}

//99999