@import "../../../../../vendor/uikit/themes/frontender/variables.less";

@import "../../../../../vendor/uikit/themes/frontender/base.less";
@import "../../../../../vendor/uikit/themes/frontender/button.less";

body, button, input, select, textarea, a,
.main-navigation {
	font-size: @global-font-size;
}

.site-title a {
	font-size: @base-h1-font-size
}

.entry-title {
	font-size: @base-h1-font-size
}

.entry-content a {
	border-bottom-color: @global-border;
}

.entry-content .uk-button:hover {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	.hook-button-hover;
}

.entry-footer {
	line-height: @global-line-height;
}

.entry-footer a:hover {
	border: none;
}

@import (css) "../../../../vendor/uikit/dist/css/uikit.frontender.min.css";



