.ct-widget .ct-tool--elemental:before {
  content: "\ea0a";
}
.ct-widget .ct-tool--wrapper:before {
  content: "\e90c";
}
.ct-widget .ct-tool--clearformat:before {
  content: "\ea5a";
}
.ct-widget .ct-element-insert {
  float: right;
}
.ct-widget .ct-elemental-dialog__elements {
  height: 220px;
  overflow: auto;
  border: 1px solid #eee;
  border-radius: 3px;
}
.ct-widget .ct-elemental-dialog__elements .element {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 10px;
  border: 4px solid #eee;
  cursor: pointer;
}
.ct-widget .ct-elemental-dialog__elements .element:hover {
  border-color: #ccc;
}
.ct-widget .ct-elemental-dialog__elements .element.choosen {
  border-color: #2e8ece;
}
.ct-widget .ct-elemental-dialog__config {
  height: 100px;
}
.ct-widget .ct-elemental-dialog__config.ct-disabled {
  opacity: .5;
}
.ct-widget .ct-elemental-dialog__config .e_w_sm {
  width: 70px;
}
.ct-widget .ct-elemental-dialog__config .e_w_md {
  width: 110px;
}
.ct-widget .ct-elemental-dialog__config p {
  margin-top: 15px;
  padding-bottom: 15px;
}
.ct-widget .ct-elemental-dialog__config p:first-child {
  border-bottom: 1px solid #ddd;
}
.ct-widget .ct-elemental-dialog__config label {
  display: inline-block;
  color: #888;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.ct-widget .ct-elemental-dialog__config input[type="text"] {
  display: inline-block;
  width: 100px;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px;
  border-radius: 3px;
  width: 160px;
  margin-right: 30px;
}
.ce-helper {
  display: none;
}
.ce-element a:not(.uk-icon-button),
.ce-element .ce-signed:not([class*=uk-icon-]) {
  border: 1px dashed transparent;
  box-sizing: border-box;
  position: relative;
}
.ce-element a:not(.uk-icon-button):before,
.ce-element .ce-signed:not([class*=uk-icon-]):before {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -2px;
  top: -12px;
  font: normal bold 10px/10px Arial, Helvetica, sans-serif;
  text-align: center;
}
.ce-element a:not(.uk-icon-button).ce-inline-signed:not([class*=uk-icon-]),
.ce-element .ce-signed:not([class*=uk-icon-]).ce-inline-signed:not([class*=uk-icon-]) {
  border-color: #2e8ece;
}
.ce-element a:not(.uk-icon-button).ce-inline-signed:not([class*=uk-icon-]):before,
.ce-element .ce-signed:not([class*=uk-icon-]).ce-inline-signed:not([class*=uk-icon-]):before {
  content: 'i';
  background-color: #2e8ece;
  color: #fff;
}
.ce-element a:not(.uk-icon-button).ce-wrapped-signed,
.ce-element .ce-signed:not([class*=uk-icon-]).ce-wrapped-signed {
  border-color: #DF5D00;
}
.ce-element a:not(.uk-icon-button).ce-wrapped-signed:before,
.ce-element .ce-signed:not([class*=uk-icon-]).ce-wrapped-signed:before {
  content: 'w';
  background-color: #DF5D00;
  color: #fff;
}
.ce-element a:not(.uk-icon-button) {
  border-color: #999999;
}
.ce-element a:not(.uk-icon-button):before {
  left: auto;
  right: -2px;
  content: 'L';
  background-color: #999999;
  color: #fff;
}
/*# sourceMappingURL=content-tools-addons.map */