[data-editable] .ce-element--type-image {
  display: block;
}
[data-editable] .align-left,
[data-editable] .align-right {
  display: block;
}
[data-editable] .align-left {
  clear: initial;
  float: left;
}
[data-editable] .align-right {
  clear: initial;
  float: right;
}
[data-editable] .text-center {
  text-align: center;
}
[data-editable] .text-left {
  text-align: left;
}
[data-editable] .text-right {
  text-align: right;
}
[data-editable] p:not([class*=uk-width]) {
  float: none;
  width: 100%;
}
[data-editable] [class*=uk-width] {
  display: block;
  margin: 0;
}
[data-editable] [class*=uk-width]:not(.uk-float-right) {
  float: left;
}
.uk-icon-button {
  font-size: 1px !important;
  letter-spacing: -1px !important;
  color: transparent !important;
}
.uk-icon-button:before {
  font-size: 20px;
  font-size: 1rem;
  color: #444;
}
.uk-clearer {
  clear: both;
}
.fe_spacer_t {
  padding-top: 20px;
}
.fe_spacer_b {
  padding-bottom: 20px;
}
.fe_spacer_l {
  padding-left: 20px;
}
.fe_spacer_r {
  padding-right: 20px;
}
.fe_lined {
  border-bottom: 1px solid #ddd;
}
.uk-alert.fe_spacer_t,
img.fe_spacer_t,
.ce-element--type-image.fe_spacer_t {
  padding-top: 0;
  margin-top: 20px;
}
.uk-alert.fe_spacer_b,
img.fe_spacer_b,
.ce-element--type-image.fe_spacer_b {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.uk-alert.fe_spacer_l,
img.fe_spacer_l,
.ce-element--type-image.fe_spacer_l {
  padding-left: 0;
  margin-left: 20px;
}
.uk-alert.fe_spacer_r,
img.fe_spacer_r,
.ce-element--type-image.fe_spacer_r {
  padding-right: 0;
  margin-right: 20px;
}
.uk-width-auto {
  width: auto!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.fe_h1,
.fe_h2 {
  display: block;
  margin: 10px 0;
}
.fe_h1 {
  font-size: 36px;
}
.fe_h2 {
  font-size: 24px;
}
.fe_hidden {
  display: none;
}
.fe_lock_dialog .notification-dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  z-index: 1000000;
}
.fe_lock_dialog .notification-dialog {
  position: fixed;
  top: 30%;
  max-height: 70%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  z-index: 1000005;
  overflow-y: auto;
}
.fe_lock_dialog .notification-dialog .post-locked-message {
  margin: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.fe_lock_dialog .notification-dialog .post-locked-message .post-locked-avatar {
  float: left;
  margin: 0 20px 20px 0;
}
.fe_lock_dialog .notification-dialog .post-locked-message p a.button {
  margin-right: 10px;
}
.fe_lock_dialog .notification-dialog .post-locked-message p .button {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fe_lock_dialog .notification-dialog .post-locked-message p .button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
/*# sourceMappingURL=frontend-main.map */