// new icons

.ct-widget {

	.ct-tool {

		&--elemental:before {
			content: "\ea0a";
		}

		&--wrapper:before {
			content: "\e90c";
		}

		&--clearformat:before {
			content: "\ea5a";
		}

	}

}

// the addons

@signed--color: #2e8ece;

@signed--color-inline: #2e8ece;
@signed--color-wrapped: #DF5D00;
@signed--color-link: #999999;

.ct-widget {

	.ct-element-insert {
		float: right;
	}

	.ct-elemental-dialog__elements {

		height: 220px;
		overflow: auto;

		border: 1px solid #eee;
		border-radius: 3px;

		.element {

			display: inline-block;
			vertical-align: top;

			padding: 10px;
			margin: 10px;

			border: 4px solid #eee;

			cursor: pointer;

			&:hover {

				border-color: #ccc;

			}

			&.choosen {

				border-color: @signed--color

			}

			[class*=uk-icon-] {
				//?
			}

		}

	}

	.ct-elemental-dialog__config {

		&.ct-disabled {
			opacity: .5;
		}

		height: 100px;

		.e_w_sm {
			width: 70px;
		}

		.e_w_md {
			width: 110px;
		}

		p {
			margin-top: 15px;
			padding-bottom: 15px;
		}

		p:first-child {
			border-bottom: 1px solid #ddd;
		}

		label {
			display: inline-block;
			color: #888;

			font-family: arial, sans-serif;
			font-size: 12px;
			font-weight: 600;

		}

		input[type="text"] {
			display: inline-block;

			width: 100px;

			font-family: arial, sans-serif;
			font-size: 14px;
			font-weight: 600;

			line-height: 16px;
			padding: 4px;

			border-radius: 3px;

			width: 160px;
			margin-right: 30px;

		}

	}

}

.ce-helper {
	display: none;
}

.ce-element {

	a:not(.uk-icon-button),
	.ce-signed:not([class*=uk-icon-]) {

		border: 1px dashed transparent;
		box-sizing: border-box;

		position: relative;

		&:before {

			position: absolute;

			width: 10px;
			height: 10px;

			left: -2px;
			top: -12px;

			font: normal bold 10px/10px Arial, Helvetica, sans-serif;
			text-align: center;

		}

		&.ce-inline-signed:not([class*=uk-icon-]) {

			border-color: @signed--color-inline;
			&:before {
				content: 'i';
				background-color: @signed--color-inline;
				color: #fff;
			}
		}

		&.ce-wrapped-signed {

			border-color: @signed--color-wrapped;
			&:before {
				content: 'w';
				background-color: @signed--color-wrapped;
				color: #fff;
			}
		}


	}

	a:not(.uk-icon-button) {
		border-color: @signed--color-link;
		&:before {
			left: auto;
			right: -2px;

			content: 'L';
			background-color: @signed--color-link;
			color: #fff;
		}
	}

}