@import "../../../../vendor/uikit/dist/css/uikit.frontender.min.css";

body,
button,
input,
select,
textarea,
a,
.main-navigation {
	font-size: 14px;
}

.site-title a {
	font-size: 36px;
}

.entry-title {
	font-size: 36px;
}

.entry-content a {
	border-bottom-color: #ddd;
}

.entry-content .uk-button:hover {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: rgba(0, 0, 0, 0.16);
}

.entry-footer {
	line-height: 20px;
}

.entry-footer a:hover {
	border: none;
}

/*# sourceMappingURL=style.map */