.fe_settings_screen *:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fe_settings_screen .fe_tab_nav {
  min-height: 320px;
}
.fe_settings_screen .fe_tab_content {
  padding-top: 5px;
}
.fe_settings_screen .fe_tab_content h3 {
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
}
.fe_settings_screen .fe_tab_content .fe_elements {
  min-height: 310px;
}
.fe_settings_screen .fe_tab_content .uk-tab > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fe_settings_screen .fe_tab_content .fe_clonable {
  display: none;
}
.fe_settings_screen .fe_tab_content .fe_new_element {
  color: #07D;
  cursor: pointer;
}
.fe_settings_screen .fe_actions {
  margin-top: 20px;
}
.uk-notify {
  top: 50px;
}
.uk-htmleditor-navbar-nav > li {
  margin-bottom: 0;
}
.uk-htmleditor:not(.uk-htmleditor-fullscreen) .uk-htmleditor-navbar-nav > li > a {
  height: 25px;
  line-height: 25px;
}
.uk-htmleditor-fullscreen {
  z-index: 99999;
}
/*# sourceMappingURL=admin-main.map */